.game{
    width: 1000px;
    height: 800px;
    background-color: grey;
    margin: auto;
    color: white;
}
.awards{
    width: 100%;
    max-width: 1000px;
    height: 80px;
    background-color: darkred;
    text-indent: 20px;
}

.scene{
    width: 70%;
    height: 750px;
    float: left;
    background-color: rgb(255, 196, 0);
    
    justify-content: center;
}
.display{
    width: 90%;
    height: 95%;
    margin-top: 10%;
    background-color: white;
    margin: auto;
}
@keyframes Ir {
    0% {background-image: url("/kepek/ir1.png");}
    50% {background-image: url("/kepek/ir2.png");}
    100% {background-image: url("/kepek/ir3.png");}
  }

.kolto{
    position: relative;
    background-image: url("/kepek/ir0.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    top: 330px;
    left: 0px;
    margin: auto;
}
.koltofejlesztve{
    animation-name: Ir;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.szokincs{
    width: 50px;
    height: 100px;
    position: relative;
    background-image: url("/kepek/szokincs.jpg");
    /* background-color: red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 85px;
    left: 130px;
    
    
}
.rimeles{
    width: 800px;
    height: 400px;
    position: relative;
    background-image: url("/kepek/rimeles.png");
    /* background-color: red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -450px;
    right:80px;
    
    
}
.mondatszerk{
    width: 250px;
    height: 300px;
    position: relative;
    background-image: url("/kepek/mondatszerk.png");
    /* background-color: red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -600px;
    right:-390px;
    
    
}
.petofi{
    width: 250px;
    height: 300px;
    position: relative;
    background-image: url("/kepek/petofi.png");
    /* background-color: red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -830px;
    right:60px;
    
    
}
.diploma{
    width: 150px;
    height: 300px;
    position: relative;
    background-image: url("/kepek/cap-306015_1280.png");
    /* background-color: red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -1190px;
    right:-245px;
    
    
}
.alkohol{
    width: 120px;
    height: 150px;
    position: relative;
    background-image: url("/kepek/alkohol.png");
    /* background-color: red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -1380px;
    right:-335px;
    
    
}
.drog{
    width: 70px;
    height: 70px;
    position: relative;
    background-image: url("/kepek/drog.png");
    /* background-color: red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -1420px;
    right:-235px;
    
    
}
.kisfaludy{
    width: 200px;
    height: 200px;
    position: relative;
    background-image: url("/kepek/kisfaludy.jpg");
    /* background-color: red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -1780px;
    right:-220px;
    
    
}
.szoovirag{
    width: 200px;
    height: 200px;
    position: relative;
    background-image: url("/kepek/szoovirag.png");
    /* background-color: red; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -1830px;
    right:-220px;
    
    
}
.upgrades{
    width: 30%;
    height: 750px;
    float: right;
    background-color: rgb(166, 122, 10);
    text-indent: 20px;
    overflow-y: scroll;
    

}
.awards h1{
    display: inline-block;
    margin-right:0;
    font-size: 28px;
    
}
.upgrade{
    margin: auto;
    margin-bottom: 20px;
    width: 275px;
    height: 75px;
    border-radius: 10px;


    background-color: rgb(220, 181, 109);
}

.upgrade h4{
    color:darkgoldenrod ;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
}

.upgrade span{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
}

.upgrade button{
    background-color: rgb(181, 169, 30);
    color: white;
    float: left;
    position: relative;
 top: 35px;
 left: 80px;
 font-size: 18px;
 border: none;
 margin: 0;
}