.game{
    width: 1000px;
    height: 800px;
    background-color: grey;
    margin: auto;
    color: white;
}
.awards{
    width: 100%;
    height: 80px;
    background-color: darkred;
    text-indent: 20px;
}

.scene{
    width: 70%;
    height: 750px;
    float: left;
    background-color: rgb(255, 196, 0);
    
    justify-content: center;
}
.display{
    width: 90%;
    height: 95%;
    margin-top: 10%;
    background-color: white;
    margin: auto;
}
.kolto{
    position: relative;
    width: 400px;
    top: 200px;
    margin: auto;
}

.upgrades{
    width: 30%;
    height: 750px;
    float: right;
    background-color: rgb(166, 122, 10);
    text-indent: 20px;
    overflow-y: scroll;
    

}
.awards h1{
    display: inline-block;
    margin-right: 30px;
}
.upgrade{
    margin: auto;
    margin-bottom: 20px;
    width: 275px;
    height: 75px;
    border-radius: 10px;


    background-color: rgb(220, 181, 109);
}

.upgrade h4{
    color:darkgoldenrod ;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
}

.upgrade span{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
}

.upgrade button{
    background-color: rgb(181, 169, 30);
    color: white;
    float: left;
    position: relative;
 top: 35px;
 left: 80px;
 font-size: 18px;
 border: none;
 margin: 0;
}